ETORO_API_KEY=sdgdskldFPLGfjHn1421dgnlxdGTbngdflg6290bRjslfihsjhSDsdgGHH25hjf
ETORO_USER_KEY=your_agent_portfolio_user_token_here
SAFETY_CASH=20
MIN_POSITION_VALUE=40

# Paths
GENOME_PATH=./genome.json
# DB_PATH=data.sqlite
# PORTFOLIO_DB_PATH=portfolio.sqlite

# Symbols mapping for V9 Intra
SYMBOL_CASH=BND
SYMBOL_SPY=SPY
SYMBOL_2XSPY=SSO
SYMBOL_3XSPY=UPRO
