ETORO_API_KEY=XXX
ETORO_USER_KEY=your_agent_portfolio_user_token_here
SAFETY_CASH=20
MIN_POSITION_VALUE=40

# Database paths
# DB_PATH=data.sqlite
# PORTFOLIO_DB_PATH=portfolio.sqlite

# Symbols mapping for EYEBALL
SYMBOL_CASH=BND
SYMBOL_SPY=SPY
SYMBOL_3XSPY=UPRO
SYMBOL_4XSPY=SPYU
SYMBOL_GOLD=GOLD
SYMBOL_TLT=TLT
SYMBOL_SHY=BIL
